/* items */
div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

/* specific item styles */

.item-1 {
    display: none;
    background: #b03532;
}
.item-2 {

    grid-row: 1;
    background: #33a8a5;
}
.item-3 {
    grid-column: 1 / 3;
    grid-row: 4;
    background: #30997a;
}
.item-4 {
    grid-row: 2;
    background: #6a478f;
}
.item-5 {
    grid-row: 2;
    background: #da6f2b;
}
.item-6 {
    display: none;
    background: #3d8bb1;
}
.item-7 {
    grid-row: 3;
    background: #e03f3f;
}
.item-8 {
    grid-row: 3;
    background: #59a627;
}
.item-9 {
    grid-row: 1;
    background: #4464a1;
}


@media only screen and (min-width: 760px) {
    .grid-container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .item-1 {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        background: #b03532;
    }
    .item-2 {
        grid-row: 1;
        grid-column: 2;
        background: #33a8a5;
    }
    .item-3 {
        grid-row: 1;
        grid-column: 3;
        background: #30997a;
    }
    .item-4 {
        grid-row: 2;
        grid-column: 1;
        background: #6a478f;
    }
    .item-5 {
        grid-row: 2;
        grid-column: 2;
        background: #da6f2b;
    }
    .item-6 {
        display: grid;
        grid-column: 3;
        background: #3d8bb1;
    }
    .item-7 {
        grid-row: 3;
        background: #e03f3f;
    }
    .item-8 {
        grid-row: 3;
        background: #59a627;
    }
    .item-9 {
        grid-row: 3;
        background: #4464a1;
    }
}