.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 4px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column: 1/ span 3;
    background-color: #b6366a;
 }
.block.block2{
    grid-column: 1;
    grid-row: 2/span 2;
    background-color: #726ea6;
}
.block.block3{
    grid-column: 2;
    background-color: #7d8dc2;
}
.block.block4{
    grid-column: 3;
    background-color: #a1d2da;
}
.block.block5{
    grid-column: 2/ span 2;
    background-color: #c392d0;
}
.block.block6{
    grid-column: 1 / span 2;
    background-color: #b6366a;
}
.block.block7{
    background-color: #726ea6;
}
.block.block8{
    grid-column: 1 / span 3;
    background-color: #7d8dc2;
}
