header > h1 {
    background-image: url("../images/header.jpg");
    background-size: cover;
    padding: 50px;
}

header h1 {
    color: white;
    margin: 0;
    padding-top: 0;
    padding-left: 20px;
}

nav {
    background-color: #444444;
}

nav a {
    color: #45C683
}

article {
    background-color: #eeeeee;
}

header h2 {
    text-decoration: underline;
}

/* Zorg dat de body de volledige breedte gebruikt en geen default marges heeft */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* optioneel, voor een netter uiterlijk */
}

/* De hoofdsectie 95% breed maken en centreren */
section {
    width: 95%;
    margin: 0 auto; /* automatisch linker- en rechtermarge = horizontaal gecentreerd */
}