h1 {
   font-size: 80px;
}
h2 {
    font-size: 40px;
}

body {
    font-family: helvetica;
}

header h1, header h2 {
    color: #EDF2F4;
}

a {
    color: #EF233C;
}

footer, header {
    color: #8D99AE;
    background-color: #2B2D42;
}

.education {
    background-color: #8D99AE;
    padding: 30px;
}

header {
    margin-bottom: 10px;
    padding: 30px;
}

footer {
    margin-top: 10px;
    padding: 30px;
}

