main {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

main .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1 {
    background-color: #b6366a;
 }

.block.block2 {
    grid-row: 1;
    background-color: #726ea6;
}

.block.block3 {
    background-color: #7d8dc2;
}

.block.block4 {
    background-color: #a1d2da;
}

@media only screen and (min-width: 772px) {
    .block.block1 {
        grid-row: 1;
    }
    .block.block2 {
        grid-row: 2;
    }
    .block.block3 {
        grid-row: 3;
    }
    .block.block4 {
        grid-row: 4;
    }
}

@media only screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 2fr;
    }
    .block.block1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .block.block2 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .block.block3 {
        grid-column: 1 / 2;
        grid-row: 3;
    }
    .block.block4 {
        grid-column: 2;
        grid-row: 3;
    }
}