body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-image: url('../images/achterkant.png');
    background-size: cover;
    cursor: pointer;
    border: 2px solid #555;
    transition: transform 0.3s, border 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.correct {
    border: 3px solid green;
}

.card.wrong {
    border: 3px solid red;
}