body {
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
caption {
    background-color: rgb(170,170,200);
    font-size: 1.5em;
    padding: 10px;
}
th {
    background-color: rgb(35,37,70);
    color: rgb(200,190,240);
    padding: 8px;
}
td {
    border: 1px solid #ccc;
    padding: 10px;
}
td:first-child, td:last-child {
    background-color: rgb(255,220,220); /* Weekends */
}
.grijs {
    color: gray;
}
.feestdag {
    background-color: rgb(250,120,120);
}